section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35rem;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}

section > h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0 30px;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 10px;
  color: white;
  letter-spacing: 1.5px;
}

section > p {
  font-size: 15px;
  color: white;
  letter-spacing: 1.5px;
  margin: 0 30px;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 20px;
}

.sectionButton {
  color: red;
  cursor: pointer;
}


.bg {
  /* position: absolute; */
  background-image: url(./img/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg__lay {
  /* background-color: #4285f4; */
  background-color: rgba(66, 133, 244, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 10px;
}

.wave {
  position: absolute;
  bottom: -01px;
}
